[core]
  editor = vim
	paper = vim
	excludesfile = /Users/berkcaputcu/.gitignore_global
[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
	cp = cherry-pick
	rb = rebase
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
[push]
  default = simple
[pull]
  rebase = true
[merge]
  tool = vimdiff
[rebase]
  autosquash = true
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[user]
	name = berkcaputcu
	email = berk.caputcu@shopify.com
