[core]
  editor = vim
	paper = less
[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
	cp = cherry-pick
	rb = rebase
[push]
  default = simple
[pull]
  rebase = true
[merge]
  tool = vimdiff
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[user]
	name = berkcaputcu
	email = berk.caputcu@shopify.com
